<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Miktionary</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-orange-200 text-red-700">
        <div class="sm:w-2/3 mx-auto p-4 sm:pt-16">
            <div class="font-bold uppercase text-[2.5rem] mb-8">
                <h1>
                    <a class="underline" href="{{ url_for('list_dictionary_items') }}">Miktionary</a>
                    {% block title %}
                    {% endblock title %}
                </h1>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
