{% extends "base.html.j2" %}
{% block content %}
    {{ super() }}
    <div class="grid grid-cols-6 gap-4 gap-y-8 place-items-start items-center">
        <a href='{{ url_for("new_dictionary_item") }}'
           class="col-span-2 px-4 py-2 hover:text-red-700 hover:bg-orange-200 bg-red-700 text-orange-200 rounded border border-red-700">Add new</a>
        {% for item in dictionary_items %}
            <span class="col-span-2 col-start-1">{{ item.text }}</span>
            <div class="col-span-3 flex flex-row gap-4 flex-nowrap">
                {% for recording in item.recordings %}
                    <span>
                        <audio controls class="w-16 bg-orange-200">
                            <source src="{{ recording.url }}" type="{{ recording.content_type }}" />
                        </audio>
                    </span>
                {% endfor %}
            </div>
            <button class="delete-button" data-id="{{ item.id }}" data-text="{{ item.text }}">delete</button>
        {% endfor %}
        <a class="col-start-5 mt-6 {% if page == 1 %}hidden{% endif %}"
           href='{{ url_for("list_dictionary_items").include_query_params(page=page-1) }}'>Previous</a>
        <a class="col-start-6 mt-6"
           href='{{ url_for("list_dictionary_items").include_query_params(page=page+1) }}'>Next</a>
    </div>
    <script>
        window.onload = () => {
            const deleteButtons = document.getElementsByClassName('delete-button')
            for (let deleteButton of deleteButtons) {
                deleteButton.addEventListener('click', async (event) => {
                    confirmed = window.confirm('Do you really want to delete this recording? (' + event.target.dataset.text + ')')
                    if (!confirmed) {
                        return
                    }
                    await fetch('/entries/' + event.target.dataset.id, {
                        method: 'DELETE'
                    })
                    window.location.href = '{{ url_for("list_dictionary_items").include_query_params(page=page) }}'
                })
            }
        }
    </script>
{% endblock content %}
