{% extends "base.html.j2" %}
{% block title %}
  / New
{% endblock title %}
{% block content %}
  {{ super() }}
  <div class="flex flex-col gap-4 sm:items-start">
    {# <input type="file" id="audioUpload" /> #}
    <button id="record"
            class="p-4 sm:py-2 hover:text-red-700 hover:bg-orange-200 bg-red-700 text-orange-200 rounded border border-red-700">
      Record
    </button>
    <span id="recording-validation" class="hidden">Please provide a recording.</span>
    <div id="waveform" class="w-full sm:w-1/2"></div>
    <div id="mic" class="hidden"></div>
    <label class="flex justify-between gap-4 items-center">
      <span>Text</span>
      <input id="text" type="text" class="p-1">
      <span id="text-validation" class="hidden">Please provide a text for the recording.</span>
    </label>
    <button id="add-recording"
            class="p-4 sm:py-2 hover:text-red-700 hover:bg-orange-200 bg-red-700 text-orange-200 rounded border border-red-700">
      Add
    </button>
  </div>
  <script src="https://unpkg.com/wavesurfer.js@7"></script>
  <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
  <script>
      OggVorbisEncoderConfig = {
          memoryInitializerPrefixURL: "{{ url_for('static', path='/vendor/ogg-vorbis-encoder-js/lib/') }}" // must end with slash
      };
  </script>
  <script src="{{ url_for('static', path='/vendor/ogg-vorbis-encoder-js/lib/OggVorbisEncoder.min.js') }}"></script>
  <script src="{{ url_for('static', path='/wavesurfer_wrapper.js') }}"></script>
  <script>
      window.onload = async () => {
          const state = await wavesurferSetup()

          document.getElementById('add-recording').addEventListener('click', async (event) => {
              const text = document.getElementById('text').value
              document.getElementById('text-validation').classList.add('hidden')
              document.getElementById('recording-validation').classList.add('hidden')
              const invalid = false
              if (text === null || text.length == 0) {
                  document.getElementById('text-validation').classList.remove('hidden')
                  invalid = true
              }
              if (state.soundData == null) {
                  document.getElementById('recording-validation').classList.remove('hidden')
                  invalid = true
              }
              if (invalid) {
                  return
              }
              const formData = new FormData()
              formData.append('text', text)
              formData.append('recording', state.soundData)
              const response = await fetch('{{ url_for("create_dictionary_item") }}', {
                  method: 'POST',
                  body: formData
              })

              await response.json()
              window.location.href = '{{ url_for("new_dictionary_item") }}';
          })
      }
  </script>
{% endblock content %}
